.linearLoader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100vh;
  background: #03a9f4;
  .w-100 {
    width: 100%;
    align-items: center;
  }
  span {
    width: 70%;
    margin: auto;
    border-radius: 2px;
  }
  .slogan {
    text-align: center;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 500;
    color: #fff;
  }
  .logo-loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
