.section_title {
  margin-bottom: 45px;
}
.section_title span {
  font-size: 15px;
  color: #13a2b7;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section_title h2 {
  color: #111111;
  font-weight: 700;
  margin-top: 8px;
  font-size: 36px;
  margin-bottom: 0px;
}
